@font-face {
  font-family: 'robotoregular';
  src: url("font/roboto-regular-webfont.woff2") format("woff2"), url("font/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhandregular';
  src: url("font/shrikhand-regular-webfont.woff2") format("woff2"), url("font/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: white;
}

.load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 6px solid white;
  height: 150px;
  width: 150px;
  background: white;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  z-index: -1;
}

.loader::after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: purple;
  border-bottom-color: purple;
  overflow: hidden;
  -webkit-animation: goku 4s ease-out forwards;
          animation: goku 4s ease-out forwards;
}

.loader__plt {
  border-radius: 50%;
  border: 4px solid white;
  height: 65px;
  width: 65px;
  background: white;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.loader__plt::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
  border-radius: 50%;
  opacity: 0.6;
  border: 4px solid transparent;
  border-right-color: rgba(128, 0, 128, 0.4);
  border-left-color: rgba(128, 0, 128, 0.4);
  -webkit-animation: gohan 4s ease-out forwards;
          animation: gohan 4s ease-out forwards;
}

@-webkit-keyframes goku {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes goku {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes gohan {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
}

@keyframes gohan {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
}

.be {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
  color: purple;
  z-index: -1;
  overflow: hidden;
  -webkit-animation: fadeaway 3s ease-out forwards;
          animation: fadeaway 3s ease-out forwards;
}

@-webkit-keyframes fadeaway {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeaway {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-animation: fade 3.5s ease-in;
          animation: fade 3.5s ease-in;
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translateX(-985px);
            transform: translateX(-985px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    -webkit-transform: translateX(-985px);
            transform: translateX(-985px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
}

.ohmtitre {
  font-family: 'shrikhand';
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lieu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 1650px;
  font-weight: 800;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-top: 4px solid #c5c2c2;
  color: #5f5f5f;
  background: #dfdddd;
}

.icon1 {
  color: black;
  margin-right: 13px;
  opacity: unset;
}

.reserv {
  height: 320px;
  width: 1650px;
  border-top: 4px solid #f3f1f1;
  background-color: #f3f1f1;
}

.rsrv {
  margin-top: 30px;
  font-weight: 700;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rsrv2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rsrv3 {
  margin-top: 20px;
  color: #8a8a8a;
  font-size: 20px;
  font-weight: 500;
}

.rsrv4 {
  margin-left: 60px;
}

.btnrsrv {
  margin-top: 40px;
  border: 0px solid #a7a5a5;
  border-radius: 30px;
  height: 45px;
  width: 212px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  font-weight: 600;
  -webkit-box-shadow: 6px 6px 6px #a7a5a5;
          box-shadow: 6px 6px 6px #a7a5a5;
  position: relative;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

/*Fonctionnemment*/
.fonc__titre {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 55px;
  margin-left: 20px;
}

.fonc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  border: 2px solid #f3f1f1;
  background: #f3f1f1;
  -webkit-box-shadow: 6px 6px 6px #a7a5a5;
          box-shadow: 6px 6px 6px #a7a5a5;
  height: 80px;
  width: 350px;
  margin-left: 30px;
}

.choix:hover {
  background: #f2eafb;
}

.choix__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -76px;
  background: #9e4ed3;
  color: white;
  border-radius: 50%;
  border: 2px solid #9e4ed3;
  height: 22px;
  width: 22px;
}

.choix__icon2 {
  font-size: 20px;
  color: #5f5f5f;
  height: 20px;
  width: 20px;
  margin-left: -38px;
  z-index: 1;
  cursor: pointer;
}

.choix__icon2:hover {
  color: #9356dc;
}

.choix__resto {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-left: -41px;
  cursor: pointer;
}

.comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid #f3f1f1;
  -webkit-box-shadow: 6px 6px 6px #a7a5a5;
          box-shadow: 6px 6px 6px #a7a5a5;
  background: #f3f1f1;
  height: 80px;
  width: 350px;
  margin-left: 30px;
  cursor: pointer;
}

.comp:hover {
  background: #f2eafb;
}

.comp__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -71px;
  background: #9e4ed3;
  color: white;
  border-radius: 50%;
  border: 2px solid #9e4ed3;
  height: 22px;
  width: 22px;
  z-index: 1;
}

.comp__icon3 {
  font-size: 20px;
  color: #5f5f5f;
  width: 20px;
  margin-left: -35px;
  cursor: pointer;
  z-index: 1;
}

.comp__icon3:hover {
  color: #9356dc;
}

.comp__mn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 18px;
  width: 207px;
  margin-left: -34px;
}

.deg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid #f3f1f1;
  -webkit-box-shadow: 6px 6px 6px #a7a5a5;
          box-shadow: 6px 6px 6px #a7a5a5;
  background: #f3f1f1;
  height: 80px;
  width: 350px;
  margin-left: 30px;
}

.deg:hover {
  background: #f2eafb;
}

.deg__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -66px;
  background: #9e4ed3;
  color: white;
  border-radius: 50%;
  border: 2px solid rgb(158, 78, 211);
  height: 25px;
  width: 25px;
}

.deg__icon4 {
  font-size: 20px;
  color: #5f5f5f;
  width: 20px;
  margin-left: -37px;
  cursor: pointer;
  z-index: 1;
}

.deg__icon4:hover {
  color: #9356dc;
}

.deg__rst {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 18px;
  width: 207px;
  margin-left: -28px;
}

/*Restaurants*/
.restopr {
  width: 410px;
  background: #f3f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restotitr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 55px;
  margin-left: 20px;
}

.resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Palette {
  margin: 25px;
  cursor: pointer;
  z-index: 1;
}

.Palette__tof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(pdg.jpg);
  height: 222px;
  width: 349px;
  -webkit-box-shadow: 6px 6px 6px #a7a5a5;
          box-shadow: 6px 6px 6px #a7a5a5;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border: 2px solid white;
  cursor: pointer;
  text-decoration: none;
}

.Palette__tof__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 80px;
  color: white;
  margin-right: 15px;
  margin-top: 15px;
  border: 2px solid #39e2b2;
  border-radius: 3px;
  background: #39e2b2;
  color: #217243;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.Palette__titre {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  height: 80px;
  width: 350px;
  border: 2px solid white;
  -webkit-box-shadow: 6px 6px 6px #a7a5a5;
          box-shadow: 6px 6px 6px #a7a5a5;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: white;
  cursor: pointer;
}

.Palette__titre__plt {
  margin-left: 14px;
  margin-bottom: 3px;
  height: 7px;
  width: 250px;
}

.Palette__titre__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 25px;
  width: 320px;
  height: 1px;
  cursor: pointer;
}

.Palette__titre__heart:hover .far {
  opacity: 0;
}

.Palette__titre__heart:hover .fas {
  opacity: 1;
}

.Palette__titre__heart .far {
  position: relative;
  left: 9%;
}

.Palette__titre__heart .fas {
  position: relative;
  left: 1%;
  opacity: 0;
  color: purple;
}

.Palette__titre__Menil {
  margin-left: 14px;
  font-weight: 600;
  height: 7px;
  width: 250px;
}

.Note {
  margin-top: 25px;
  cursor: pointer;
  z-index: 1;
}

.Note__tof2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 222px;
  width: 349px;
  -webkit-box-shadow: 6px 6px 6px #a7a5a5;
          box-shadow: 6px 6px 6px #a7a5a5;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border: 2px solid #f3f1f1;
  background-image: url(lne.jpg);
  cursor: pointer;
  text-decoration: none;
}

.Note__tof2__new2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 80px;
  color: white;
  margin-right: 15px;
  margin-top: 15px;
  border: 2px solid #39e2b2;
  border-radius: 3px;
  background: #39e2b2;
  color: #217243;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.Note__titre {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  height: 80px;
  width: 350px;
  border: 2px solid white;
  -webkit-box-shadow: 6px 6px 6px #a7a5a5;
          box-shadow: 6px 6px 6px #a7a5a5;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: white;
  cursor: pointer;
}

.Note__titre__nte {
  margin-left: 14px;
  margin-bottom: 3px;
  height: 7px;
  width: 250px;
}

.Note__titre__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 25px;
  width: 320px;
  height: 1px;
  cursor: pointer;
}

.Note__titre__heart:hover .far {
  opacity: 0;
}

.Note__titre__heart:hover .fas {
  opacity: 1;
}

.Note__titre__heart .far {
  position: relative;
  left: 9%;
}

.Note__titre__heart .fas {
  position: relative;
  left: 1%;
  color: purple;
  opacity: 0;
}

.Note__titre__Charo {
  margin-left: 14px;
  font-weight: 600;
  height: 7px;
  width: 250px;
}

.Fra {
  margin: 25px;
  cursor: pointer;
  z-index: 1;
}

.Fra__tof3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 222px;
  width: 350px;
  -webkit-box-shadow: 6px 6px 6px #a7a5a5;
          box-shadow: 6px 6px 6px #a7a5a5;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border: 2px solid white;
  background-image: url(alf.jpg);
  cursor: pointer;
  text-decoration: none;
}

.Fra__titre {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  height: 80px;
  width: 350px;
  border: 2px solid white;
  -webkit-box-shadow: 6px 6px 6px #a7a5a5;
          box-shadow: 6px 6px 6px #a7a5a5;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: white;
  cursor: pointer;
}

.Fra__titre__fr {
  margin-left: 14px;
  margin-bottom: 3px;
  height: 7px;
  width: 250px;
}

.Fra__titre__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 25px;
  width: 320px;
  height: 1px;
  cursor: pointer;
}

.Fra__titre__heart:hover .far {
  opacity: 0;
}

.Fra__titre__heart:hover .fas {
  opacity: 1;
}

.Fra__titre__heart .far {
  position: relative;
  left: 9%;
}

.Fra__titre__heart .fas {
  position: relative;
  left: 1%;
  color: purple;
  opacity: 0;
}

.Fra__titre__cr {
  margin-left: 14px;
  font-weight: 600;
  height: 7px;
  width: 250px;
}

.Del {
  margin-top: 25px;
  cursor: pointer;
  z-index: 1;
}

.Del__tof4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 222px;
  width: 350px;
  -webkit-box-shadow: 6px 6px 6px #a7a5a5;
          box-shadow: 6px 6px 6px #a7a5a5;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border: 2px solid white;
  background-image: url(lds.jpg);
  cursor: pointer;
  text-decoration: none;
}

.Del__titre {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  height: 80px;
  width: 350px;
  border: 2px solid white;
  -webkit-box-shadow: 6px 6px 6px #a7a5a5;
          box-shadow: 6px 6px 6px #a7a5a5;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: white;
  cursor: pointer;
}

.Del__titre__dl {
  margin-left: 14px;
  margin-bottom: 3px;
  height: 7px;
  width: 250px;
}

.Del__titre__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 25px;
  width: 320px;
  height: 1px;
  cursor: pointer;
}

.Del__titre__heart:hover .far {
  opacity: 0;
}

.Del__titre__heart:hover .fas {
  opacity: 1;
}

.Del__titre__heart .far {
  position: relative;
  left: 9%;
}

.Del__titre__heart .fas {
  position: relative;
  opacity: 0;
  left: 1%;
  color: purple;
}

.Del__titre__fm {
  margin-left: 14px;
  font-weight: 600;
  height: 7px;
  width: 250px;
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  height: 232px;
  width: 1650px;
  color: white;
  background: #14171b;
}

.infos__nom {
  margin: 20px 0px 20px 30px;
  font-family: 'shrikhand';
  font-size: 20px;
}

.infos__prop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 5px 5px 30px;
}

.infos__prop__couv {
  margin-right: 5px;
}

.infos__prop__pr {
  margin-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.infos__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 5px 5px 30px;
}

.infos__part__help {
  margin-right: 5px;
  font-size: 12px;
  width: 7px;
}

.infos__part__dp {
  margin-left: 15px;
  margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.infos__Ment {
  margin-left: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.infos__cont {
  margin: 5px 0px 0px  32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
